<template>
  <div class="main-css">
    <p>result: {{ myNumber }}</p>
    <button @click="increment">Add</button>
  </div>
</template>

<script>
import { ref } from 'vue';

export default {
  name: 'DefaulComponent',
  setup() {
    const myNumber = ref(0);

    function addTwo(val) {
      return val + 2;
    }

    function increment() {
      myNumber.value = addTwo(myNumber.value);
    }

    return {
      myNumber,
      increment,
    };
  },
};
</script>

<style scoped>
  .main-css {
    background: #b8d5fa;
    border: 1px solid grey;
    width: 150px;
    height: 150px;
  }
</style>
